@model SEDC.PizzaApp.Models.ViewModels.PizzaViewModel

<h1>@ViewData["Title"]</h1>

<p>Pizza Details</p>

@if (ViewBag.Pizza.IsOnPromotion)
{
<h4>Is on promotion!</h4>
}
    <ul>
        <li>Name: @ViewBag.Pizza.Name</li>
        <li>Size: @ViewBag.Pizza.PizzaSize</li>
        <li>Price: @ViewBag.Pizza.Price</li>
    </ul>


