@model List<PizzaViewModel>

<h1>List of pizzas</h1>

<div>
    <a asp-controller="Pizza" asp-action="CreatePizza">Create Pizza</a>
</div>

@foreach (PizzaViewModel pizza in @Model)
{
<ul>
    <li>Name: @pizza.Name</li>
    <li>Promotion: @pizza.IsOnPromotion</li> 
    <li><a asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">See Details</a></li>
</ul>
}